In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv('ChurN_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [62]:
x = df.iloc[:, 3:13] # 1st 3 cols are not required
y = df.iloc[:, 13]

In [63]:
geography = pd.get_dummies(x["Geography"],drop_first=True)
gender = pd.get_dummies(x.Gender, drop_first=True)

In [64]:
x = pd.concat([x, geography, gender], axis=1)
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [65]:
x = x.drop(['Geography', 'Gender'], axis = 1)
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [66]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [67]:
# feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [68]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
# now data is in same scale

In [69]:
import keras
from keras.models import Sequential
from keras.layers import Dense
# from keras.layers import LeakyReLU,PReLLU,ELU
from keras.layers import Dropout

In [70]:
classifer = Sequential()

In [71]:
classifer.add(Dense(units=10, kernel_initializer='he_normal', activation='relu', input_dim = 11))
classifer.add(Dropout(0.3))
classifer.add(Dense(units=20, kernel_initializer='he_normal', activation='relu'))
classifer.add(Dropout(0.4))
classifer.add(Dense(units=15, kernel_initializer='he_normal', activation='relu'))
classifer.add(Dropout(0.2))
classifer.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))
# 1st layer - input - 11 nuerons coz 11 columns i.e. 11 features
# 2nd layer - hidden - 10 nuerons
# 3rd layer - hidden - 20 nuerons
# 4th layer - hidden - 15 nuerons
# 5th layer - output - 1 neuron

In [72]:
classifer.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 10)                120
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_15 (Dense)             (None, 20)                220
_________________________________________________________________
dropout_2 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_16 (Dense)             (None, 15)                315
_________________________________________________________________
dropout_3 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 16
=================================================================
Total params: 671
Trainable params: 671
Non-trainable params: 0
_________________________________________________________________

In [73]:
classifer.compile(optimizer='Adamax', loss='binary_crossentropy', metrics=['accuracy'])

In [74]:
model_history = classifer.fit(x_train,y_train,validation_split=.33,batch_size=10,nb_epoch=100)

C:\Users\Harshvivek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 194us/step - loss: 0.5898 - accuracy: 0.7701 - val_loss: 0.4976 - val_accuracy: 0.7959
Epoch 2/100
5359/5359 [==============================] - 2s 280us/step - loss: 0.5326 - accuracy: 0.7904 - val_loss: 0.4850 - val_accuracy: 0.7970
Epoch 3/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.5086 - accuracy: 0.7949 - val_loss: 0.4769 - val_accuracy: 0.7986
Epoch 4/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.4991 - accuracy: 0.7974 - val_loss: 0.4730 - val_accuracy: 0.7986
Epoch 5/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.4843 - accuracy: 0.7972 - val_loss: 0.4662 - val_accuracy: 0.8005
Epoch 6/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.4798 - accuracy: 0.7992 - val_loss: 0.4633 - val_accuracy: 0.8001
Epoch 7/100
5359/5359 [==============================] - 1s 203us/step - loss: 0.4763 - accuracy: 0.7992 - val_loss: 0.4603 - val_accuracy: 0.7997
Epoch 8/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.4719 - accuracy: 0.7983 - val_loss: 0.4578 - val_accuracy: 0.8012
Epoch 9/100
5359/5359 [==============================] - 1s 232us/step - loss: 0.4669 - accuracy: 0.8013 - val_loss: 0.4562 - val_accuracy: 0.8020
Epoch 10/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.4664 - accuracy: 0.7994 - val_loss: 0.4527 - val_accuracy: 0.8012
Epoch 11/100
5359/5359 [==============================] - ETA: 0s - loss: 0.4653 - accuracy: 0.79 - 1s 126us/step - loss: 0.4650 - accuracy: 0.7996 - val_loss: 0.4500 - val_accuracy: 0.8008
Epoch 12/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.4593 - accuracy: 0.8013 - val_loss: 0.4485 - val_accuracy: 0.8012
Epoch 13/100
5359/5359 [==============================] - 2s 282us/step - loss: 0.4562 - accuracy: 0.8031 - val_loss: 0.4444 - val_accuracy: 0.8023
Epoch 14/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4579 - accuracy: 0.8022 - val_loss: 0.4477 - val_accuracy: 0.8016
Epoch 15/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.4529 - accuracy: 0.7987 - val_loss: 0.4440 - val_accuracy: 0.8008
Epoch 16/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.4521 - accuracy: 0.8001 - val_loss: 0.4438 - val_accuracy: 0.8012
Epoch 17/100
5359/5359 [==============================] - 2s 281us/step - loss: 0.4558 - accuracy: 0.8048 - val_loss: 0.4451 - val_accuracy: 0.8020
Epoch 18/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4532 - accuracy: 0.8031 - val_loss: 0.4445 - val_accuracy: 0.8027
Epoch 19/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4478 - accuracy: 0.8041 - val_loss: 0.4424 - val_accuracy: 0.8027
Epoch 20/100
5359/5359 [==============================] - 1s 251us/step - loss: 0.4430 - accuracy: 0.8061 - val_loss: 0.4400 - val_accuracy: 0.8027
Epoch 21/100
5359/5359 [==============================] - 2s 281us/step - loss: 0.4423 - accuracy: 0.8057 - val_loss: 0.4396 - val_accuracy: 0.8046
Epoch 22/100
5359/5359 [==============================] - 1s 251us/step - loss: 0.4425 - accuracy: 0.8041 - val_loss: 0.4382 - val_accuracy: 0.8054
Epoch 23/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.4445 - accuracy: 0.8041 - val_loss: 0.4371 - val_accuracy: 0.8031
Epoch 24/100
5359/5359 [==============================] - 1s 126us/step - loss: 0.4394 - accuracy: 0.8099 - val_loss: 0.4370 - val_accuracy: 0.8054
Epoch 25/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.4386 - accuracy: 0.8071 - val_loss: 0.4358 - val_accuracy: 0.8065
Epoch 26/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.4381 - accuracy: 0.8108 - val_loss: 0.4375 - val_accuracy: 0.8069
Epoch 27/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4343 - accuracy: 0.8108 - val_loss: 0.4334 - val_accuracy: 0.8069
Epoch 28/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.4338 - accuracy: 0.8112 - val_loss: 0.4313 - val_accuracy: 0.8095
Epoch 29/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.4364 - accuracy: 0.8089 - val_loss: 0.4333 - val_accuracy: 0.8088
Epoch 30/100
5359/5359 [==============================] - 2s 280us/step - loss: 0.4385 - accuracy: 0.8039 - val_loss: 0.4355 - val_accuracy: 0.8092
Epoch 31/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4344 - accuracy: 0.8106 - val_loss: 0.4346 - val_accuracy: 0.8114
Epoch 32/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.4326 - accuracy: 0.8076 - val_loss: 0.4358 - val_accuracy: 0.8118
Epoch 33/100
5359/5359 [==============================] - 1s 261us/step - loss: 0.4312 - accuracy: 0.8113 - val_loss: 0.4333 - val_accuracy: 0.8107
Epoch 34/100
5359/5359 [==============================] - 2s 297us/step - loss: 0.4306 - accuracy: 0.8112 - val_loss: 0.4317 - val_accuracy: 0.8129
Epoch 35/100
5359/5359 [==============================] - 1s 262us/step - loss: 0.4301 - accuracy: 0.8168 - val_loss: 0.4320 - val_accuracy: 0.8133
Epoch 36/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.4255 - accuracy: 0.8123 - val_loss: 0.4330 - val_accuracy: 0.8145
Epoch 37/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.4254 - accuracy: 0.8155 - val_loss: 0.4300 - val_accuracy: 0.8152
Epoch 38/100
5359/5359 [==============================] - 2s 282us/step - loss: 0.4317 - accuracy: 0.8136 - val_loss: 0.4299 - val_accuracy: 0.8164
Epoch 39/100
5359/5359 [==============================] - 1s 260us/step - loss: 0.4276 - accuracy: 0.8145 - val_loss: 0.4359 - val_accuracy: 0.8152
Epoch 40/100
5359/5359 [==============================] - 1s 258us/step - loss: 0.4246 - accuracy: 0.8130 - val_loss: 0.4325 - val_accuracy: 0.8164
Epoch 41/100
5359/5359 [==============================] - 1s 265us/step - loss: 0.4278 - accuracy: 0.8117 - val_loss: 0.4332 - val_accuracy: 0.8171
Epoch 42/100
5359/5359 [==============================] - 2s 281us/step - loss: 0.4270 - accuracy: 0.8117 - val_loss: 0.4312 - val_accuracy: 0.8164
Epoch 43/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.4299 - accuracy: 0.8130 - val_loss: 0.4318 - val_accuracy: 0.8186
Epoch 44/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.4272 - accuracy: 0.8155 - val_loss: 0.4322 - val_accuracy: 0.8186
Epoch 45/100
5359/5359 [==============================] - 1s 264us/step - loss: 0.4247 - accuracy: 0.8186 - val_loss: 0.4312 - val_accuracy: 0.8198
Epoch 46/100
5359/5359 [==============================] - 1s 271us/step - loss: 0.4238 - accuracy: 0.8145 - val_loss: 0.4305 - val_accuracy: 0.8209
Epoch 47/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.4227 - accuracy: 0.8160 - val_loss: 0.4286 - val_accuracy: 0.8205
Epoch 48/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.4218 - accuracy: 0.8138 - val_loss: 0.4311 - val_accuracy: 0.8205
Epoch 49/100
5359/5359 [==============================] - 1s 126us/step - loss: 0.4238 - accuracy: 0.8168 - val_loss: 0.4299 - val_accuracy: 0.8209
Epoch 50/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.4263 - accuracy: 0.8160 - val_loss: 0.4292 - val_accuracy: 0.8220
Epoch 51/100
5359/5359 [==============================] - 2s 282us/step - loss: 0.4188 - accuracy: 0.8164 - val_loss: 0.4262 - val_accuracy: 0.8213
Epoch 52/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.4227 - accuracy: 0.8210 - val_loss: 0.4314 - val_accuracy: 0.8220
Epoch 53/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4227 - accuracy: 0.8179 - val_loss: 0.4265 - val_accuracy: 0.8232
Epoch 54/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.4182 - accuracy: 0.8194 - val_loss: 0.4262 - val_accuracy: 0.8232
Epoch 55/100
5359/5359 [==============================] - 2s 285us/step - loss: 0.4190 - accuracy: 0.8227 - val_loss: 0.4274 - val_accuracy: 0.8236

Epoch 56/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4209 - accuracy: 0.8197 - val_loss: 0.4261 - val_accuracy: 0.8251
Epoch 57/100
5359/5359 [==============================] - 1s 250us/step - loss: 0.4190 - accuracy: 0.8186 - val_loss: 0.4269 - val_accuracy: 0.8232
Epoch 58/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.4192 - accuracy: 0.8194 - val_loss: 0.4306 - val_accuracy: 0.8254
Epoch 59/100
5359/5359 [==============================] - 2s 282us/step - loss: 0.4159 - accuracy: 0.8199 - val_loss: 0.4281 - val_accuracy: 0.8258
Epoch 60/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4174 - accuracy: 0.8220 - val_loss: 0.4234 - val_accuracy: 0.8258
Epoch 61/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.4157 - accuracy: 0.8246 - val_loss: 0.4251 - val_accuracy: 0.8270
Epoch 62/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.4121 - accuracy: 0.8244 - val_loss: 0.4238 - val_accuracy: 0.8258
Epoch 63/100
5359/5359 [==============================] - 2s 285us/step - loss: 0.4156 - accuracy: 0.8210 - val_loss: 0.4262 - val_accuracy: 0.8281
Epoch 64/100
5359/5359 [==============================] - 1s 261us/step - loss: 0.4152 - accuracy: 0.8218 - val_loss: 0.4208 - val_accuracy: 0.8281
Epoch 65/100
5359/5359 [==============================] - ETA: 0s - loss: 0.4153 - accuracy: 0.82 - 1s 189us/step - loss: 0.4126 - accuracy: 0.8231 - val_loss: 0.4205 - val_accuracy: 0.8277
Epoch 66/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.4155 - accuracy: 0.8199 - val_loss: 0.4221 - val_accuracy: 0.8296
Epoch 67/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.4191 - accuracy: 0.8188 - val_loss: 0.4246 - val_accuracy: 0.8300
Epoch 68/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.4158 - accuracy: 0.8201 - val_loss: 0.4210 - val_accuracy: 0.8296
Epoch 69/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.4146 - accuracy: 0.8231 - val_loss: 0.4249 - val_accuracy: 0.8304
Epoch 70/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.4127 - accuracy: 0.8210 - val_loss: 0.4241 - val_accuracy: 0.8304
Epoch 71/100
5359/5359 [==============================] - 1s 251us/step - loss: 0.4155 - accuracy: 0.8225 - val_loss: 0.4215 - val_accuracy: 0.8289
Epoch 72/100
5359/5359 [==============================] - 2s 280us/step - loss: 0.4130 - accuracy: 0.8263 - val_loss: 0.4225 - val_accuracy: 0.8296
Epoch 73/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.4091 - accuracy: 0.8222 - val_loss: 0.4218 - val_accuracy: 0.8311
Epoch 74/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4140 - accuracy: 0.8229 - val_loss: 0.4200 - val_accuracy: 0.8307
Epoch 75/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4089 - accuracy: 0.8235 - val_loss: 0.4228 - val_accuracy: 0.8319
Epoch 76/100
5359/5359 [==============================] - 2s 280us/step - loss: 0.4131 - accuracy: 0.8218 - val_loss: 0.4213 - val_accuracy: 0.8319
Epoch 77/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.4111 - accuracy: 0.8214 - val_loss: 0.4196 - val_accuracy: 0.8334
Epoch 78/100
5359/5359 [==============================] - 1s 250us/step - loss: 0.4044 - accuracy: 0.8248 - val_loss: 0.4171 - val_accuracy: 0.8349
Epoch 79/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4080 - accuracy: 0.8250 - val_loss: 0.4159 - val_accuracy: 0.8349
Epoch 80/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.4070 - accuracy: 0.8240 - val_loss: 0.4151 - val_accuracy: 0.8357
Epoch 81/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.4009 - accuracy: 0.8294 - val_loss: 0.4142 - val_accuracy: 0.8334
Epoch 82/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.4006 - accuracy: 0.8283 - val_loss: 0.4115 - val_accuracy: 0.8353
Epoch 83/100
5359/5359 [==============================] - 1s 235us/step - loss: 0.4055 - accuracy: 0.8280 - val_loss: 0.4130 - val_accuracy: 0.8383
Epoch 84/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.3979 - accuracy: 0.8293 - val_loss: 0.4113 - val_accuracy: 0.8360
Epoch 85/100
5359/5359 [==============================] - 2s 282us/step - loss: 0.3985 - accuracy: 0.8300 - val_loss: 0.4090 - val_accuracy: 0.8398
Epoch 86/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.3989 - accuracy: 0.8311 - val_loss: 0.4082 - val_accuracy: 0.8372
Epoch 87/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.4032 - accuracy: 0.8302 - val_loss: 0.4062 - val_accuracy: 0.8391
Epoch 88/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.3964 - accuracy: 0.8304 - val_loss: 0.4034 - val_accuracy: 0.8402
Epoch 89/100
5359/5359 [==============================] - 2s 284us/step - loss: 0.3913 - accuracy: 0.8354 - val_loss: 0.4031 - val_accuracy: 0.8395
Epoch 90/100
5359/5359 [==============================] - 1s 257us/step - loss: 0.4003 - accuracy: 0.8326 - val_loss: 0.4021 - val_accuracy: 0.8387
Epoch 91/100
5359/5359 [==============================] - 1s 260us/step - loss: 0.3990 - accuracy: 0.8334 - val_loss: 0.4056 - val_accuracy: 0.8410
Epoch 92/100
5359/5359 [==============================] - 1s 258us/step - loss: 0.3992 - accuracy: 0.8332 - val_loss: 0.4019 - val_accuracy: 0.8395
Epoch 93/100
5359/5359 [==============================] - 2s 280us/step - loss: 0.3935 - accuracy: 0.8337 - val_loss: 0.4002 - val_accuracy: 0.8429
Epoch 94/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.3951 - accuracy: 0.8352 - val_loss: 0.4010 - val_accuracy: 0.8421
Epoch 95/100
5359/5359 [==============================] - 1s 253us/step - loss: 0.3993 - accuracy: 0.8328 - val_loss: 0.4000 - val_accuracy: 0.8395
Epoch 96/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.3958 - accuracy: 0.8311 - val_loss: 0.3974 - val_accuracy: 0.8432
Epoch 97/100
5359/5359 [==============================] - 2s 280us/step - loss: 0.3929 - accuracy: 0.8341 - val_loss: 0.3971 - val_accuracy: 0.8417
Epoch 98/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.3956 - accuracy: 0.8293 - val_loss: 0.3976 - val_accuracy: 0.8429
Epoch 99/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.3962 - accuracy: 0.8294 - val_loss: 0.3975 - val_accuracy: 0.8451
Epoch 100/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.3928 - accuracy: 0.8337 - val_loss: 0.3965 - val_accuracy: 0.8440

In [75]:
y_pred = classifer.predict(x_test)
y_pred = y_pred > .5

In [76]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1557,   38],
       [ 242,  163]], dtype=int64)

In [77]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.86